@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --heading-font-family : "Baskerville No 2", serif;
    --heading-font-weight : 400;
    --heading-font-style  : normal;

    --text-font-family : "Nunito Sans", sans-serif;
    --text-font-weight : 400;
    --text-font-style  : normal;    
    --base-text-font-size   : 14px;
    --default-text-font-size: 14px;

    --cta-font-family: 'Montserrat', sans-serif;
    --background          : #eae8e2;
    --background-rgb      : 234, 232, 226;
    --light-background    : #ffffff;
    --light-background-rgb: 255, 255, 255;
    --heading-color       : #393938;
    --text-color          : #1c1b1b;
    --text-color-rgb      : 28, 27, 27;
    --text-color-light    : #6a6a6a;
    --text-color-light-rgb: 106, 106, 106;
    --link-color          : #6a6a6a;
    --link-color-rgb      : 106, 106, 106;
    --border-color        : #cbc9c4;
    --border-color-rgb    : 203, 201, 196;

    --button-background    : #5f554f;
    --button-background-rgb: 95, 85, 79;
    --button-text-color    : #ffffff;

    --header-background       : #c3b5a5;
    --header-heading-color    : #1c1b1b;
    --header-light-text-color : #393938;
    --header-border-color     : #aa9e90;

    --footer-background    : #c3b5a5;
    --footer-text-color    : #393938;
    --footer-heading-color : #393938;
    --footer-border-color  : #aea295;

    --navigation-background      : #c3b5a5;
    --navigation-background-rgb  : 195, 181, 165;
    --navigation-text-color      : #393938;
    --navigation-text-color-light: rgba(57, 57, 56, 0.5);
    --navigation-border-color    : rgba(57, 57, 56, 0.25);

    --newsletter-popup-background     : #1c1b1b;
    --newsletter-popup-text-color     : #ffffff;
    --newsletter-popup-text-color-rgb : 255, 255, 255;

    --secondary-elements-background       : #1c1b1b;
    --secondary-elements-background-rgb   : 28, 27, 27;
    --secondary-elements-text-color       : #ffffff;
    --secondary-elements-text-color-light : rgba(255, 255, 255, 0.5);
    --secondary-elements-border-color     : rgba(255, 255, 255, 0.25);

  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  body{
    background-color:#EAE8E2 !important;
  }

  .btnn{
    padding: 0.6rem 2rem;
    background-color: transparent;
    border: 1px solid #000000;
    color: #6a6969;
    position: relative;
    z-index: 999;
    overflow: hidden;
  }
  .btnn::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 43px;
    background-color: rgb(97, 93, 93);
    top: 0;
    left: 0px;
    transform: translateX(-171px);
    opacity: 1;
    z-index: -999;
    transition:0.5s;
}
  .btnn:hover::before{
  left: -17px;
  transform: translatex(0px);
  opacity: 1;
}
.btnn:hover{
  color: #fff;
}

  /* main page slider part */
  .hero-data button{
    border: 2px solid #fff;
    color: #fff;
  }
  .nav-slider{
    height: 100vh;
    overflow: hidden;
  }
  .nav-slider img{
    animation: zoomout 3s ;
  }
  @keyframes zoomout {
    0%{
      transform: scale(1.2);
    }
    100%{
      transform: scale(1);
    }
    
  }
  /* main page slider part */

  /* navbar part start from here */
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }


  .site-navbar-wrap {
    position: absolute;
    z-index: 9990;
    width: 100%;
    left: 0; 
  }
  .site-navbar-wrap button{
    border: none;
    background-color: transparent;
    color: #fff;
  }
    .site-navbar-wrap a {
      color: #ffffff !important;
      text-decoration: none;
    }
    .site-navbar-wrap .site-navbar-top {
      font-size: 0.8rem; }
  
  .site-navbar-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.192); }
  
  .site-navbar {
    margin-bottom: 0px;
    width: 100%;
  background-color: #18171660;
padding: 0.4rem 0px; }

    .site-navbar .site-logo {
      font-weight: 200;
      line-height: 0;
      top: -7px;
      position: relative; }
    .site-navbar .site-navigation .site-menu {
      margin-bottom: 0; }
      .site-navbar .site-navigation .site-menu a {
        text-decoration: none !important;
        display: inline-block;
        font-weight: 500; }
      .site-navbar .site-navigation .site-menu > li {
        display: inline-block;
        padding: 10px 5px; }
        .site-navbar .site-navigation .site-menu > li > a {
          padding: 20px 10px;
          color: #fff !important;
          font-size: 15px;
          text-decoration: none !important; }
          .site-navbar .site-navigation .site-menu > li > a.active {
            color: #000;  }
          .site-navbar .site-navigation .site-menu > li > a:hover {
            color: #000; }
        .site-navbar .site-navigation .site-menu > li:last-child {
          padding-right: 0; }
          .site-navbar .site-navigation .site-menu > li:last-child > a {
            padding-right: 0; }
      .site-navbar .site-navigation .site-menu .has-children {
        position: relative; }
        .site-navbar .site-navigation .site-menu .has-children > a {
          position: relative;
          padding-right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children > a:before {
            position: absolute;
            content: "\e313";
            font-size: 16px;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'icomoon'; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown {
          visibility: hidden;
          opacity: 0;
          top: 100%;
          position: absolute;
          text-align: left;
          -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
          padding: 0px 0;
          margin-top: 20px;
          margin-left: 0px;
          background: #C5B9AB;
          -webkit-transition: 0.2s 0s;
          -o-transition: 0.2s 0s;
          transition: 0.2s 0s;
          border-radius: 4px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
            position: absolute; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
              bottom: 100%;
              left: 20%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #fff;
              border-width: 10px;
              margin-left: -10px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a {
            font-size: 14px;
            text-transform: none;
            letter-spacing: normal;
            -webkit-transition: 0s all;
            -o-transition: 0s all;
            transition: 0s all;
            color: #000000 !important; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
              color: #007bff; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
            color: #fff !important; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 200px; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li:first-child > a {
              border-top-left-radius: 4px;
              border-top-right-radius: 4px; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li:last-child > a {
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
              padding: 9px 20px;
              display: block; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
                background: #ebeef0;
                color: #212529; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
              content: "\e315";
              right: 20px; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
              left: 100%;
              top: 0; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
              background: #d6cbbe;
              color: #212529; }
        .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
          color: #fff; }
        .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
          cursor: pointer; }
          .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
            margin-top: 0px;
            visibility: visible;
            opacity: 1; }
  
  .site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 9999;
    padding-top: 20px;
    background: #C5B9AB;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
   }
   .site-mobile-menu button{
    border: none;
    background-color: transparent;
    color: #000;
    margin-right: 15px;
   }
    .offcanvas-menu .site-mobile-menu {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
    .site-mobile-menu .site-mobile-menu-header {
      width: 100%;
      float: left;
      padding-left: 20px;
      padding-right: 20px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
        float: right;
        margin-top: 8px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
          font-size: 30px;
          display: inline-block;
          padding-left: 10px;
          padding-right: 0px;
          line-height: 1;
          cursor: pointer;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
            color: #dee2e6; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
        float: left;
        margin-top: 10px;
        margin-left: 0px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
          display: inline-block;
          text-transform: uppercase; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
            max-width: 70px; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
            text-decoration: none; }
    .site-mobile-menu .site-mobile-menu-body {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding: 20px;
      height: calc(100vh - 52px);
      padding-bottom: 150px; }
    .site-mobile-menu .site-nav-wrap {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative; }
      .site-mobile-menu .site-nav-wrap a {
        padding: 10px 20px;
        display: block;
        position: relative;
        color: #212529; 
      text-decoration: none;}
      .site-mobile-menu .site-nav-wrap li {
        position: relative;
        display: block; }
        .site-mobile-menu .site-nav-wrap li.active > a {
          color: #007bff; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse {
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 20;
        width: 36px;
        height: 36px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
          background: #9b948c; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
          font-size: 12px;
          z-index: 20;
          font-family: "icomoon";
          content: "\f078";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          -ms-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .site-mobile-menu .site-nav-wrap > li {
        display: block;
        position: relative;
        float: left;
        width: 100%; }
        .site-mobile-menu .site-nav-wrap > li > a {
          padding-left: 20px;
          font-size: 20px; }
        .site-mobile-menu .site-nav-wrap > li > ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .site-mobile-menu .site-nav-wrap > li > ul > li {
            display: block; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > a {
              padding-left: 40px;
              font-size: 16px; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
              padding: 0;
              margin: 0; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
                display: block; }
                .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                  font-size: 16px;
                  padding-left: 60px; }
  
  .sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%; }
    .sticky-wrapper + .site-blocks-cover {
      margin-top: 96px; }
    .sticky-wrapper .site-navbar {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .sticky-wrapper .site-navbar ul li.active a {
        color: #fff; }
    .sticky-wrapper.is-sticky .site-navbar {
      background-color: #181716a9; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li {
        display: inline-block;
        padding: 10px 5px; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li:last-child {
          padding-right: 0; }
          .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li:last-child > a {
            padding-right: 0; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li.has-children > a {
          padding-right: 20px; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a {
          padding: 10px 10px;
          color: rgba(255, 255, 255, 0.6);
          font-size: 15px; }
          .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a:hover {
            color: #fff !important; }
          .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a.active {
            color: #fff !important; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li.active a {
          color: #fff; }
          .cart-login{
            color: #fff;
            margin-left: 8rem;
          }
          @media (max-width:767px){
            .cart-login{
              margin-left: 0rem;
            }
          }
          .cart-login i{
            font-size: 20px !important;
          }

          @media (max-width: 676px){
            .site-navbar-wrap a , .site-navbar-wrap li{
              text-decoration: none;
            }
            .nav-slider{
              height: 90vh;
            }
            .nav-slider img{
              height: 90vh;
              width: 100%;
              object-fit: cover;
            }
            .form-inline{
              display: block !important;
            }
            .newsletter-subscribe form input{
              margin: 1rem 0px !important;
            }
          }
          
  /* navbar part end from here */

  .hero-section{
    height: 85vh;
  }

  .carousel-indicators [data-bs-target]{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: rgba(0, 0, 0, 0.664) !important;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .nav-item:nth-child(7){
    margin-right: 7rem !important;
    
  }
  .search-bar i{
    font-size: 1.2rem;
  }



  /* shop part start from here */
  .shops{
    width: 100%;
    height: 100%;
  }
  .shops h2 , #products h2 , .heading{
    font-weight: 400;
    letter-spacing: 4px;
  }

  #news-slider{
    margin-top: 20px;
}
.post-slide{
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.post-slide .post-content{
    background:#fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}


.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}
.post-slide .read-more:hover{
    background: #3498db;
    text-decoration:none;
    color:#fff;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top:-13%;
    left:15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top:-13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #333;
    font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
}
@media (max-width: 767px){
  .news-slider img{
    height: 200px !important;
    width: 200px !important;
  }
}
  /* shop part end from here */


  #banner{
    background-color: #eae8e2;
    width: 100%;
    height: 100%;
  }
  #banner img{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .banner-img img{
    width: 50% !important;
    height: 50% !important;
    margin-left: 7rem;
  }
  .banner-img h1{
    color: #6B6765 !important;
    letter-spacing: -2px;
    font-weight: 300;
  }
  .banner-img p{
    text-align: justify;
    padding: 0px 3rem;
  }
  

  #banner-btn{
    padding: 0.6rem 2rem;
    background-color: transparent;
    border: 2px solid #060404;
    color: #0000009d;
    position: relative;
    z-index: 999;
    overflow: hidden;
  }
  #banner-btn::after{
    content: '';
    position: absolute;
    width: 220px;
    height: 43px;
    background-color: rgb(97, 93, 93);
    top: 0;
    left: 0px;
    transform: translateX(200px);
    opacity: 1;
    z-index: -999;
    transition:0.5s;
}
  #banner-btn:hover::after{
    left: -17px;
    transform: translatex(0px);
    opacity: 1;
    color: #fff !important;
  }
  #banner-btn:hover{
    color: #fff;
    transition: 0.5s;
  }
  @media(max-width:767px){
    .banner-img img{
      width: 50% !important;
      height: 50% !important;
      margin-left: 5rem;
    }
  }
/* main ads section start from here */
#main-ads{
  width: 100%;
  height: 80vh;
  background: url(../Assets/candle-banner.png);
  background-position: top;
  background-size: cover;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-ads h1{
  color: #fff;
  font-size: 3rem;
}
#main-ads button{
  padding: 0.6rem 2rem;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #fff;
  position: relative;
  z-index: 999;
  overflow: hidden;
  font-weight: 600;
}
#main-ads button::before{
  content: '';
  position: absolute;
  width: 200px;
  height: 43px;
  background-color: rgb(97, 93, 93);
  top: 0;
  left: 0px;
  transform: translateX(180px);
  opacity: 1;
  z-index: -999;
  transition:0.5s;
}
#main-ads button:hover::before{
  left: -17px;
  transform: translatex(0px);
  opacity: 1;
  color: #fff !important;
}
#main-ads button:hover{
  color: #fff;
  transition: 0.5s;
}
/* main ads section end from here */

/* product part start from here */
#products{
  width: 100%;
  height: 80vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding-bottom: 64px;
  position: relative;
}

.carousel-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 64px;
  margin-block: auto;
  height: fit-content;
  width: 48px;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.carousel-arrow:hover,
.carousel-arrow:focus {
  opacity: 1;
}

.carousel-arrow--prev {
  left: 0;
}

.carousel-arrow--next {
  right: 0;
}

.carousel-container {
  width: 100%;
  padding-block: 16px 32px;
  margin: 16px 48px;
  overflow-x: auto;
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  flex-flow: row nowrap;
  scroll-behavior: smooth;
}
.carousel-container img{
  width: 500px;
  height: 500px;
  object-fit: cover;
}


.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container::-webkit-scrollbar-track {
  background: #b1b3b399;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #29AB87;
}

.carousel-container::-webkit-scrollbar-track-piece:start {
  background: #29AB87;
}

.carousel-slide {
  flex: 1 0 30%;
  aspect-ratio: 1;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

@media (max-width: 600px) {
  .carousel-slide {
    flex: 1 0 90%;
  }

}
.img-hover{
  position: relative;
  height: 450px;
  overflow: hidden;
}
.buynow{
  width: 100%;
  display: flex;
  position: absolute;
  bottom: -70px;
  transition: all 0.5s;
}
.buynow button{
  text-align: center;
width: 50%;
padding: 1rem 1rem;
border: none;
border-right: 1px solid black;
}
.img-hover:hover .buynow{
  bottom: 0px;
}

/* product part end from here */

/* gif card section */
#gif-card{
  margin-top: 5rem;
  overflow: hidden;
}
.table-clock{
  position: relative;
  overflow: hidden;
}
.table-clock img{
  height: 500px;
  width: 100%;
  transition: all 8s;
}
.table-clock img:hover{
  transform: scale(1.2);
}
.table-clock button{
    position: absolute !important;
    left: 3rem;
    bottom: 3rem;
    padding: 0.6rem 2rem;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    z-index: 999;
    overflow: hidden;
}
.table-clock button::before{
  content: '';
  position: absolute;
  width: 200px;
  height: 43px;
  background-color: #5F554F;
  top: 0;
  left: 0px;
  transform: translateX(-200px);
  opacity: 1;
  z-index: -999;
  transition:0.5s;
}
.table-clock button:hover::before{
  left: 0px;
  transform: translatex(0px);
  opacity: 1;
}
/* gif card section */

/* collection section  */
#collection{
  margin: 1rem 3rem 3rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}
.MultiCarousel { 
  float: left; 
  overflow: hidden;
   padding:0px 15px; 
   width: 100%; 
   position:relative;
   }
   .MultiCarousel .item img{
    overflow: hidden;
    padding: 1rem;
   }
.MultiCarousel{
   Height: 500px;
  }
    .MultiCarousel .MultiCarousel-inner {
       transition: 1s ease all; 
       float: left; 
      }
        .MultiCarousel .MultiCarousel-inner .item {
           float: left;
          }
        .MultiCarousel .MultiCarousel-inner .item > div {
           text-align: center; 
           padding:10px; 
           margin:10px; 
           background:#f1f1f1; 
           color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst {
       position:absolute; 
       border-radius:50%;
       top:calc(50% - 20px); }
    .MultiCarousel .leftLst {
       left:0px; 
      }
    .MultiCarousel .rightLst {
       right:0px; 
      }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
           pointer-events: none; 
           background:#a4a1a1; }
@media( max-width:767px){
  #collection{
    margin: 1rem 3rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
  }
  .MultiCarousel .item img{
    height: 400px;
    object-fit: cover;
    padding: 1rem;
   }
}
.collection-btn{
    background-color: #EAE8E2 !important;
    border: 1px solid rgba(0, 0, 0, 0.192) !important;
}
/* collection section  */

/* branding part start from here */
#branding{
   margin-bottom: 3rem;
}
#branding h2{
  letter-spacing: 6px;
  font-weight: 300;
}

/* branding part end from here */

/* reviews part strt from here */
#reviews{
  margin: 3rem 0px;
  border-top: 1px solid rgba(128, 128, 128, 0.361);
}
.review-indicator{
  bottom: -60px !important;
}
/* reviews part strt from here */


/* sbscribe content  */
#subscribe{
  background-color:#C5B9AB;

}
.newsletter-subscribe {
  color: #313437;
  padding: 55px 74px;
}

.newsletter-subscribe p {
  color: #7d8285;
  line-height: 1.5;
}

.newsletter-subscribe h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
  color: #393938 !important;
}

.newsletter-subscribe .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.newsletter-subscribe .intro p {
  margin-bottom: 35px;
  text-align: justify;
}

.newsletter-subscribe form {
  justify-content: center;
}
.form-inline{
  display: flex;
}

.newsletter-subscribe form .form-control {
  width: 50%;
  display: flex;
  background: transparent;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin: auto;
  min-width: 250px;
}

.newsletter-subscribe form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.newsletter-subscribe form .btn:hover {
  opacity: 1;
}

.newsletter-subscribe form .btn:active {
  transform: translateY(1px);
}

.newsletter-subscribe form .btn-primary {
  background-color: #393938 !important;
  color: #fff;
  outline: none !important;
}
/* sbscribe content  */

/* footer part start from here */
footer {
  padding: 7em 0; 
}
footer h2{
  font-weight: 400;
  font-size: 15px !important; 
  letter-spacing: 3px;
}
footer p{
  color: #00000086 !important;
}
.footer-10 {
  background: #C5B9AB;
  padding: 0 0 0em 0; 
}
  .footer-10 .border-top, .footer-10 .border-bottom {
    border-color: rgba(255, 255, 255, 0.1) !important;
   }
  .footer-10 .footer-heading {
    font-size: 18px;
    color: #222121;
    margin-bottom: 30px; }
  .footer-10 p
   {
    color: rgba(3, 3, 3, 0.3); 
    text-align: justify;
  }
  
  .footer-10 .list-unstyled li a {
    color: #000; 
    text-decoration: none;
    line-height: 2.2;
    font-weight: 300;
  }
    .footer-10 .list-unstyled li a:hover {
      color: #222222; 
      text-decoration: underline;
    }
/* footer part start from here */